.videoRow {
    margin-top: 20px;
    padding: 0 20px;
}

.videoListContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;
}

.videoItem {
    margin-right: 30px;
    text-align: left;
}

.videoInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.thumbnailContainer {
    width: 400px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.thumbnail {
    height: auto;
    display: block;
}
