@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.App {
  background-color: #262626; 
  color: white;
}

body{
  font-family: 'Roboto Mono',monospace;
}

@property --appGreen {
  syntax: '<color>';
  initial-value: #00FF99;
  inherits: false;
}

@property --appBlue {
  syntax: '<color>';
  initial-value: #00A8F5;
  inherits: false;
}

.global-button {
  background: linear-gradient(to right,var(--appGreen), var(--appBlue));
  transition: --appGreen 1s, opacity  ease 0.5s;
  border-radius: 15px;
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
}

.global-button:hover {
  --appGreen: #00A8F5;
  transform: scale(1.005);
}

.global-button:active{
  --appGreen: #00FF99;
  --appBlue: #00FF99;
}


.App-link {
  color: #61dafb;
  cursor: pointer;
}

