body {
  font-family: 'Roboto Mono', monospace;
  background: transparent;
  color: white;
  display: block;
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
  background: linear-gradient(to right, #000000 0%, #252525 100%);
  background-color: #181818;
}


@property --appGreen {
  syntax: '<color>';
  initial-value: #00FF99;
  inherits: false;
}

@property --appBlue {
  syntax: '<color>';
  initial-value: #00A8F5;
  inherits: false;
}

.global-button {
  background: linear-gradient(to right,var(--appGreen), var(--appBlue));
  transition: --appGreen 1s, opacity ease 0.5s;
  border-radius: 15px;
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
}

.global-button:hover {
  --appGreen: #00A8F5;
  transform: scale(1.005);
}

.global-button:active{
  --appGreen: #00FF99;
  --appBlue: #00FF99;
}

.App-link {
  color: var(--appBlue);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.5s;
}

.App-link:hover {
  color: var(--appGreen);
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background-color: #505050;
}

::-webkit-scrollbar-thumb {
  background-color: var(--appBlue);
  border-radius: 5px;
}

.header {
  position: fixed;
  width: 100%;
}

.top-bar-spacer {
  height: 50px;
}