.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #414141; 
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .logo {
    height: 3em;
    transition: transform 0.3s ease;
  }

  .logo:hover{
    transform: scale(1.05);
  }
  
  .signin-button {
    background: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
  }

  .user-icon {
    height: 30px;
    width: 30px;
    fill:transparent;
    stroke:white;
  }

  .search-icon {
    fill : white;
    height: 30px;
    width: 30px;
  }

  .search-button {
    background: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
  }