.form {
    background-color: #414141;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    scale: 85%;
    border-radius: 10px;
    margin: 2em;
  }
  
  .form-logo {
    width: 30%;
    margin-top: 2em;
  }
  
  .form-content{
    margin: 1.5em;
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-field{
    display:flex;
    align-items: center;
  }

  .form-text{
    font-size: 2em;
    margin-right: 1em;
  }

  .form-input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #818181;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 1.5em;
  }

  .form-content .global-button{
    width: 60%;
  }